<%- include("../../partials/header") %>
<%- include("../../partials/menu") %>
   
<div class="container">


  <h2>Categorias</h2>
<a class="btn btn-success" href="/admin/categories/new"> criar nova categoria </a>


<table class="table text-light">
                  <thead>
                    <tr>
                      
                      <th scope="col">id</th>
                      <th scope="col">title</th>
                      <th scope="col">slug</th>
                      <th scope="col">açoes</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <% categories.forEach(category=>{%> 


                    <tr>
                      
                      <td><%= category.id  %></td>
                      <td><%= category.title  %></td>
                      <td><%= category.slug %></td>
                      <td>
                        <button class="btn btn-warning">editar</button>
                        <button class="btn btn-danger">deletar</button>
                      </td>
                    </tr>

                  <% }) %>

                  </tbody>
                </table>

</div>

<%- include('../../partials/footer'); %>            
                                    